<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>COURSE LISTS</h1>
    <ul>
        <li>Python</li>
        <li>React and Node</li>
        <li>Mern Stack</li>
        <li>Software Testing</li>
    </ul>
</body>
</html>